/*
!/.*
/.DS_Store
/.*_history
/.CFUserTextEncoding
/.adobe
/.babel.json
/.bash_sessions
/.cups
/.config
/.cvspass
/.cvsps
/.docker
/.ec2
/.electron
/.fontconfig
/.gem
/.htoprc
/.hyper_plugins
/.dbshell
/.jitsuconf
/.kube
/.lesshst
/.nightscout-latest-entry
/.node-gyp
/.now
/.now.json
/.npm
/.npmrc
/.pkg-cache
/.private.env
/.rnd
/.shellshock
/.subversion
/.viminfo
/.Xauthority
/.wireshark*
/.travis
/.Trash
/.xo-cache
/.yarnrc
/.z*
