/*
!/.*
/.DS_Store
/.*_history
/.CFUserTextEncoding
/.adobe
/.bash_history
/.bash_sessions
/.cups
/.config
/.cvspass
/.cvsps
/.ec2
/.fontconfig
/.gdb_history
/.gem
/.htoprc
/.dbshell
/.jitsuconf
/.lesshst
/.node-gyp
/.now.json
/.npm
/.npmrc
/.rnd
/.sh_history
/.shellshock
/.sqlite_history
/.subversion
/.viminfo
/.Xauthority
/.wireshark*
/.Trash
/.z*
