/*
!/.*
/.cache
/.*-cache
/.*_history
/.DS_Store
/.CFUserTextEncoding
/.adobe
/.asciinema
/.aws
/.babel.json
/.bash_sessions
/.boto
/.bun/install/cache
/.bundle/cache
/.cargo
/.cups
/.cursor
/.config
/.cvspass
/.cvsps
/.degit
/.docker
/.dotnet
/.dts
/.ec2
/.electron
/.electron-gyp
/.fontconfig
/.git-credentials
/.gem
/.gnupg
/.htoprc
/.hyper_plugins
/.dbshell
/.jitsuconf
/.kube
/.lesshst
/.netrc
/.nightscout*
/.node-gyp
/.now
/.now.json
/.npm
/.npmrc
/.nuxtrc
/.pnpm-state
/.pnpm-store
/.private.env
/.python-eggs
/.rnd
/.rocker
/.rustup
/.shellshock
/.ssh/authorized_keys
/.subversion
/.viminfo
/.vscode
/.v8flags*
/.Xauthority
/.wireshark*
/.wrangler
/.travis
/.Trash
/.yarn
/.yarnrc
/.vim/bundle
/.z*
