[user]
	name = Nathan Rajlich
	email = n@n8.io
[color]
	ui = true
[github]
	user = TooTallNate
[push]
	default = current
[core]
	excludesfile = ~/.gitignore-global
[alias]
	tree = log --graph --decorate --pretty=oneline --abbrev-commit
