[user]
	name = Nathan Rajlich
	email = n@n8.io
[color]
	ui = true
[github]
	user = TooTallNate
[push]
	default = current
[core]
	excludesfile = ~/.gitignore-global
[alias]
	tree = log --graph --decorate --pretty=oneline --abbrev-commit
[init]
	defaultBranch = main
[pull]
	rebase = false
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
